@tailwind base;
@tailwind components;
@tailwind utilities;

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  margin-bottom: 8px;
}

.product-card h2 {
  font-size: 1.2em;
  margin: 8px 0;
  color: black;
}

.product-card p {
  font-size: 1em;
  color: black;
}
